        maven-quest-intro-poo-bases-java/.classpath
        maven-quest-intro-poo-bases-java/.project
        maven-quest-intro-poo-bases-java/.settings/
        maven-quest-intro-poo-bases-java/target/

